<section class="presentation">
  <div class="container-presentation">
    <div class="text">
      <div class="container-header">
        <h1>Todas as suas <span>contas</span> em um só lugar</h1>
        <p>Organize sua vida financeira sem estresse</p>
      </div>
      <div class="container-btn">
        <span>Acesse nosso app e garanta controle total sobre suas contas</span>
        <button>Quero o app</button>
      </div>
    </div>
    <div class="image">
      <div class="img"></div>
    </div>
  </div>
</section>
