<footer>
  <div class="container-footer">
    <div class="top">
      <div class="logo">
        <div class="logo-img"></div>
        <span>docpost</span>
      </div>
      <div class="social-media">
        <button id="wpp">
          <div class="button-img"></div>
        </button>
        <button id="facebook">
          <div class="button-img"></div>
        </button>
        <button id="insta">
          <div class="button-img"></div>
        </button>
        <button id="linkedin">
          <div class="button-img"></div>
        </button>
      </div>
    </div>
    <div class="copyright">
      <span>© 2023 Doc post LTDA. Todos os direitos reservados</span>
    </div>
  </div>
</footer>
