@import "../../../styles.scss";

header {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  .container-header {
    @include widthDefinitionSB;
    .logo {
      .logo-img {
        background: url("../../../assets/images/logo.svg") no-repeat center center;
        background-size: contain;
        width: 5rem;
        height: 5rem;
      }
    }
    button {
      width: 12rem;
      height: 3rem;
      background-color: $primaryColor;
      font: normal 700 1.6rem/normal $btnFont;
      letter-spacing: .2rem;
      color: $white;
      &:hover {
        background-color: $hoverColor;
      }
    }
  }
}

@media(max-width: 430px) {
  header {
    .container-header {
      @include widthDefinitionSBMobile;
    }
  }
}
