<section class="services">
  <div class="container-services">
    <div class="text">
      <h2>Simplifique seu fluxo de caixa</h2>
      <p>Com o nosso sistema você pode acompanhar o status dos seus boletos em tempo real, gerenciar os seus clientes e fornecedores, integrar com o seu sistema contábil e muito mais. Tudo isso com a garantia de um sistema seguro, confiável e compatível com as normas bancárias.</p>
    </div>
    <div class="container-cards">
      <div class="card" id="planning">
        <div class="symbol">
          <div class="symbol-img"></div>
        </div>
        <h3>Planejamento</h3>
        <span>Planejar, organizar e visualizar diariamente seus boletos.</span>
      </div>
      <div class="card" id="confirmation">
        <div class="symbol">
          <div class="symbol-img"></div>
        </div>
        <h3>Confirmação</h3>
        <span>Permite que os você informem quando o boleto está pago.</span>
      </div>
      <div class="card reports">
        <div class="symbol">
          <div class="symbol-img"></div>
        </div>
        <h3>Relatórios</h3>
        <span>Geração de relatórios periódicos para acompanhamento.</span>
      </div>
      <div class="card reports">
        <div class="symbol">
          <div class="symbol-img"></div>
        </div>
        <h3>Relatórios</h3>
        <span>Geração de relatórios periódicos para acompanhamento.</span>
      </div>
    </div>
  </div>
</section>
